<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Post Details</h3>
    <div class="post">
    <p>Post id: <%= post.id %></p>
    <h3 class="user">@<%= post.username %></h3>
    <p><%= post.content %></p>
    </div>
    <button class="btn"><a href="/posts" class="back-to-posts">Back to All Posts</a></button> 
</body>
</html>